.card {
  border: 1px solid black;
  width: 200px;
  min-height: 500px;
  padding: 5%;
  float: left;
  text-align: center;
}

.card h3 {
  font-size: 10px;
}

.card img {
  max-width: 150px;
  height: 200px;
}